body {
    background-color: #047f9e;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 5vh;
}

p {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
}

button {
    border-radius: 3vmin;
    font-size: 5vmin;
    font-family: 'Quicksand', sans-serif;
    padding: 2vmin 3vmin;
    background-color: white;
    color: black;
}

#map {
    height: 50vmax;
    width: 100%;
}

#photo {
    width: 80%;
}